@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300&display=swap");
.inactive {
  display: none !important;
}

.active {
  display: block !important;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.couleur-de-fond {
  background-color: #D7E0FC;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  text-decoration: none;
}

@-webkit-keyframes animationMenu {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 70px;
    opacity: 1;
  }
}

@keyframes animationMenu {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 70px;
    opacity: 1;
  }
}

@-webkit-keyframes animationTitreParents {
  from {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animationTitreParents {
  from {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animationTitreAssMat {
  from {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animationTitreAssMat {
  from {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animationImageParents {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
  }
}

@keyframes animationImageParents {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
  }
}

@-webkit-keyframes animationToTop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animationToTop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animation-menu {
  -webkit-animation-name: animationMenu;
          animation-name: animationMenu;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animation-titre-parents {
  -webkit-animation-name: animationTitreParents;
          animation-name: animationTitreParents;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animation-titre-ass-mat {
  -webkit-animation-name: animationTitreAssMat;
          animation-name: animationTitreAssMat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animation-to-top {
  -webkit-animation-name: animationToTop;
          animation-name: animationToTop;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@media (max-width: 600px) {
  main {
    padding-top: 35px;
  }
  main h2 {
    font-size: 18px;
  }
  main .btn {
    border-radius: 2rem;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 300;
  }
  section {
    width: 90%;
    margin: 0 auto;
  }
  section figure {
    margin: 0;
  }
  section article {
    margin-top: 40px;
    font-size: 10px;
    text-align: center;
  }
  section article p {
    line-height: 10px;
  }
  section .lien {
    margin: 36px auto;
    display: block;
    width: 160px;
  }
  #parents h2 {
    margin: 0;
  }
  #parents img {
    width: 194px;
    height: 145px;
  }
  #assistante-maternelle h2 {
    padding-top: 10px;
    margin: 0;
  }
  #assistante-maternelle img {
    width: 182px;
    height: 137px;
  }
  .description {
    margin-top: 30px;
  }
  .description .contenu {
    margin-top: 40px;
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  section {
    width: 70%;
    margin: 200px auto;
  }
  section h2 {
    font-size: 40px;
  }
  section article {
    font-size: 30px;
    margin: 100px 0;
  }
  section figure {
    width: 100%;
  }
  section img {
    max-width: 60%;
    height: auto;
  }
  section .lien {
    text-align: center;
  }
  section .contenu {
    font-size: 30px;
  }
  section .lien {
    margin: 70px auto;
    display: block;
    width: 270px;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
  }
  section .lien:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-box-shadow: 0px 3px 6px #265d875a;
            box-shadow: 0px 3px 6px #265d875a;
  }
  section .btn {
    padding: 10px 40px;
    border-radius: 2rem;
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    text-decoration: none;
  }
  #assistante-maternelle h2 {
    padding-top: 20px;
  }
}

section article {
  text-align: center;
}
/*# sourceMappingURL=accueil.css.map */