@import '_base.scss';
@import '_animations.scss';

@media (max-width: 600px){
    @import '_inscription-mobile.scss';
}

@media (min-width: 600px){
    @import '_inscription-desktop.scss';
}

h2{
    font-size:25px !important;
}
h3{
    font-size: 16px;
}

#en-tete{
    margin-top: 20px;
    img + div{
      display:none;
    }
    img:hover{
      cursor: pointer !important;
    }
    img:hover + div{
        top:0;
        left:25%;
        display:block;
        animation: infoImage 1s ease forwards;
    }
    .img-selected{
        border: 1px solid #265D87;
        box-shadow: $color-shadow 0px 3px 6px 0px;
    }
}
#formulaire label{
    color:black !important;
}
#formulaire a{
    color: $color-primary;
}
#formulaire a:hover{
    color: $color-secondary;
}
#formulaire .btn{
    background-color: $color-primary;
    border:2px solid $color-primary;
    width:100px;
    font-family: $font-text;
}
#formulaire .btn:hover{
    background-color: white;
    color: $color-primary;
}
.feedback{
    color:#dc3545;
}

