@media (max-width: 845px) {
  .menu-mobile{
    display: block;
  }
  aside{
      display:none;
      
  }
  main{
    min-width: 100%;
      header{
        h2{
          font-size:18px;
        }
        nav{
          display:none;
        }
      }
      section{
        article{
          margin: 20px 0 0 0;
        }
        .box{
          h4{
            font-size:15px !important;
            padding: 0 10px !important;
          }
          h4 + div{
            padding: 0 5px;
          }
        }
        .box-lg, .box-sm, .box-md{
          min-width:100%;
        }
        .box-lg{
          .contenu{
            ul{
              border-right: 0 !important;
              li{
                span:nth-child(1){
                  width: 100% !important;
                }
              }
            }
          }
          footer{
            flex-wrap: wrap;
            justify-content: center;
            padding:10px;
            a{
              margin: 10px;
            }
          }
        }
      }
  }
}