@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300;400&display=swap");
/* Technique pour le calcul des REM ex : 15px = 1.5rem */
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
figure,
ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-mobile {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background-color: #F0F0F0;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

body .background-modal {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: #0000006d;
}

body .is-open {
  display: block;
}

body .is-hidden {
  display: none;
}

body .menu-mobile__principal,
body .menu-mobile__secondaire {
  color: #265D87;
}

.is-current {
  background-color: #0D4671;
  color: #FFFF;
}

.toast {
  background-color: #265D87;
  top: 20%;
  right: 30px;
  font-size: 1.3rem;
}

.modal-dialog h5, .modal-dialog button, .modal-dialog textarea {
  font-size: 1.5rem !important;
}

.barre-navigation {
  width: 270px;
  min-height: 100vh;
  z-index: 100;
  background-color: #265D87;
  -webkit-box-shadow: 2px 1px 5px #D6D2D2;
          box-shadow: 2px 1px 5px #D6D2D2;
}

.barre-navigation__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #265D87;
  font-size: 2.5rem;
  font-family: "Indie Flower", cursive;
  color: #F0F0F0;
}

.barre-navigation__titre i {
  color: #FFFF;
}

.barre-navigation__identite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #0D4671;
}

.barre-navigation__identite--photo img {
  width: 150px;
  height: 110px;
  padding: 0 20px;
  border-radius: 50%;
}

.barre-navigation__identite--nom {
  padding-left: 20px;
  font-size: 2.5rem;
  font-family: "Indie Flower", cursive;
  color: #F0F0F0;
}

.barre-navigation__menu--lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.9rem;
  color: #FFFF;
}

.barre-navigation__menu--lien:hover {
  background-color: #0D4671;
  color: #FFFF;
}

.barre-navigation__menu--icone {
  width: 20px;
  height: auto;
  padding: 0 20px;
}

.barre-navigation__menu--texte {
  padding-left: 20px;
}

.contenu-principal {
  width: calc(100% - 270px);
  min-width: 885px;
}

.contenu-principal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #265D87;
  -webkit-box-shadow: 4px 3px 6px #D6D2D2;
          box-shadow: 4px 3px 6px #D6D2D2;
  background-color: #FFFF;
}

.contenu-principal__header--titre {
  padding-left: 20px;
  font-family: "Indie Flower", cursive;
  font-size: 3.5rem;
}

.contenu-principal__header--navigation .lien {
  padding: 8px 15px;
  font-size: 1.9rem;
  color: #265D87;
}

.contenu-principal__header--navigation .lien:hover {
  color: #0D4671;
}

.contenu-principal__header--navigation .lien:nth-child(2) {
  border-right: 1px solid #265D87;
}

.contenu-principal__header--navigation .lien:nth-child(3) {
  display: inline-block;
  margin-left: 15px;
}

.contenu-principal__page {
  width: 100%;
}

.contenu-principal__page .box {
  margin: 40px;
  background-color: #FFFF;
  -webkit-box-shadow: 4px 3px 6px #D6D2D2;
          box-shadow: 4px 3px 6px #D6D2D2;
  overflow: hidden;
}

.contenu-principal__page .box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #D6D2D2;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.contenu-principal__page .box__header--titre, .contenu-principal__page .box__header--close {
  color: #4B4B4B;
}

.contenu-principal__page .box__header--close:hover {
  cursor: pointer;
}

.contenu-principal__page .box__header button {
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu {
  padding: 10px 10px 6px 30px;
}

.contenu-principal__page .box__contenu--inscription {
  font-size: 1.5rem;
  font-weight: 300;
}

.contenu-principal__page .box__contenu--informations {
  min-height: 320px;
  padding-top: 30px;
}

.contenu-principal__page .box__contenu--liste-identite {
  width: 59%;
  border-right: 1px solid #D6D2D2;
}

.contenu-principal__page .box__contenu--liste-identite .item {
  padding: 10px 0;
}

.contenu-principal__page .box__contenu--liste-identite .item span:nth-child(1) {
  width: 30%;
  font-weight: 600;
}

.contenu-principal__page .box__contenu--liste-identite .item span:nth-child(2),
.contenu-principal__page .box__contenu--liste-identite .item a {
  display: inline-block;
  margin-left: 10px;
}

.contenu-principal__page .box__contenu--liste-messages .items {
  position: relative;
  min-height: 70px;
  margin: 40px 0;
  padding: 10px 8px;
  border-radius: 1.3rem;
  -webkit-box-shadow: 0px 1px 6px #0000005e;
          box-shadow: 0px 1px 6px #0000005e;
  background-color: #265D87;
}

.contenu-principal__page .box__contenu--liste-messages .items .item-date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.3rem;
  color: #F0F0F0;
  letter-spacing: 1px;
}

.contenu-principal__page .box__contenu--liste-messages .items .item-enfant {
  position: absolute;
  top: 2px;
  left: 10px;
  color: #FFFF;
  text-transform: capitalize;
  font-weight: 600;
}

.contenu-principal__page .box__contenu--liste-messages .items .item-message {
  display: block;
  width: 80% !important;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 1.3rem;
  font-style: italic;
  color: #434242;
  word-break: break-all;
}

.contenu-principal__page .box__contenu--liste-messages .items::before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: inherit;
  bottom: -7px;
  left: 20px;
  -webkit-box-shadow: 6px 5px 7px #0000001a;
          box-shadow: 6px 5px 7px #0000001a;
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
}

.contenu-principal__page .box__contenu--avis {
  position: relative;
  min-height: 100px;
  margin: 30px 0;
  padding: 10px;
  border: 1px solid #265D87;
  background-color: #F0F0F0;
  color: #4B4B4B;
  -webkit-box-shadow: 1px 5px 5px #D6D2D2;
          box-shadow: 1px 5px 5px #D6D2D2;
  border-radius: 1.3rem;
}

.contenu-principal__page .box__contenu--avis-date {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #0D4671;
  font-size: 1.5rem;
  text-decoration: underline;
}

.contenu-principal__page .box__contenu--avis-note {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #0D4671;
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu--avis-message {
  display: inline-block;
  padding: 30px 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu--lien, .contenu-principal__page .box__contenu--select {
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu form .form-check-input:checked {
  background-color: #265D87;
}

.contenu-principal__page .box__contenu form input,
.contenu-principal__page .box__contenu form select,
.contenu-principal__page .box__contenu form label,
.contenu-principal__page .box__contenu form textarea {
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu form input:required {
  border: 1px solid #0D4671;
}

.contenu-principal__page .box__contenu form textarea {
  min-height: 80px;
}

.contenu-principal__page .box__contenu form button {
  background-color: #0D4671;
  border: 2px solid #0D4671;
  color: #F0F0F0;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu form button:hover {
  background-color: #FFFF;
  color: #0D4671;
}

.contenu-principal__page .box__footer {
  padding: 10px;
  overflow: hidden;
}

.contenu-principal__page .box__footer--lien {
  display: inline-block;
  margin: 0 15px;
  padding: 7px 14px;
  border-radius: 1.9rem;
  cursor: pointer;
  border: none;
  color: #FFFF;
  font-size: 1.5rem;
}

.contenu-principal__page .box__footer--lien:hover {
  background-color: #FFFF;
  color: #4B4B4B;
}

.contenu-principal__page .box__footer--modifier {
  border: 2px solid #4B4B4B;
  background-color: #4B4B4B;
}

.contenu-principal__page .box__footer--supprimer {
  border: 2px solid #CC4747;
  background-color: #CC4747;
}

.contenu-principal__page .box__calendar .fc-header-toolbar {
  font-size: 1.5rem;
}

.contenu-principal__page .box__calendar .fc-toolbar-chunk button {
  font-size: 1.5rem;
  background-color: #265D87;
  border: 1px solid #265D87;
}

.contenu-principal__page .box-lg {
  width: calc(100% - 80px);
  min-width: 845px;
}

.contenu-principal__page .box-sm {
  min-width: 477px;
  max-width: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow: hidden;
}

.contenu-principal__page .box-md {
  width: calc(100% - 637px);
  min-width: 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow: hidden;
}

#pagination_avis {
  margin: 10px 0;
}

.map {
  width: 700px;
  margin: 40px;
  height: 500px;
  z-index: 1;
}

.contenu-principal__page .box__contenu--presentation-titre, .contenu-principal__page .box__contenu--presentation-message {
  font-size: 1.5rem;
  color: #4B4B4B;
}

.contenu-principal__page .box__contenu--liste-enfants {
  width: 40%;
  margin-left: 10px;
}

.contenu-principal__page .box__contenu--liste-enfants h5 {
  font-size: 1.5rem;
}

.contenu-principal__page .box__contenu--liste-enfants ol {
  list-style-type: none;
}

.contenu-principal__page .box__contenu--liste-enfants ol > li::before {
  content: ' ';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #4B4B4B;
  margin-right: 5px;
}

.contenu-principal__page .box__contenu--liste-messages .items .item-message {
  color: #F0F0F0;
}

.contenu-principal__page .box__contenu--liste-messages .items .item-auteur {
  color: #FFFF;
}

.contenu-principal__page .box__contenu--liste-messages .items .item-delete {
  display: inline-block;
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 1.3rem;
  color: #CC4747;
}

.contenu-principal__page .box__contenu--fiches-enfants {
  margin: 15px;
}

.contenu-principal__page .box__contenu--fiches-enfants .item .lien {
  display: block;
  margin: 10px 0;
  padding: 10px 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #265D87;
  color: #FFFF;
  font-weight: 600;
}

.contenu-principal__page .box__contenu--fiches-enfants .item .lien:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #0D4671;
  -webkit-box-shadow: 3px 4px 3px #D6D2D2;
          box-shadow: 3px 4px 3px #D6D2D2;
}

.contenu-principal__page .box__contenu .fa-heart {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  cursor: pointer;
}

.contenu-principal__page .box__contenu .fa-heart:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contenu-principal__page .box__contenu .note {
  cursor: pointer;
  color: #ffcc00;
}

.contenu-principal__page .box__contenu .note-check {
  color: #ffcc00;
}
/*# sourceMappingURL=layout-parents.css.map */