$color-main: #99B4F9;
$color-main-more: #4D7AEB;


@import 'commun';

contenu-principal {

  &__page {

    button {
      &:hover {
        background-color: $color-bg;
      }
    }


    #messages {
      li {
        background-color: $color-main;

        .edit {
          position: absolute;
          top: -20px;
          right: 0;
          font-size: $fs-sm;
        }
      }
    }
  }
}
